body {
    margin: 0;
    padding: 0;
}

.profileEditForm {
    width: 550px;
    margin: 150px auto 0 auto;
    position: relative;
}

.profileEditFormChild {
    font-size: 18px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 0 20px 0;
    padding: 10px;
}

.profileEditFormSubmit {
    background-color: rgb(68, 114, 196);
    font-size: 20px;
    color: white;
}

.profileEditFormButton {
    background-color: red;
    font-size: 20px;
    color: white;
}

.viewImg {
    position: absolute;
    top: 310px;
    right: 590px;
    width: 30px;
    cursor: pointer;
}