body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(68, 114, 196);
    border-radius: 60px;
    width: 500px;
    height: 400px;
    margin: 230px auto 0 auto;
}

.text {
    font-size: 25px;
    margin: 20px;
}